node_modules
.next
frontend/out/
dist
coverage
.env
.env.local
backend/storage/*
!backend/storage/.gitkeep
npm-debug.log*
*.tsbuildinfo
furrbox-dev.*.log
furrbox-backend-test.*.log
furrbox-frontend-test.*.log
release/
updates/*
!updates/.gitkeep
